.todoList {
  background: #fff;
  padding: 20px;
  border: 1px solid #d7d7d7;
  width: 500px;
}
.listItem {
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}
.itemInfo {
  flex: 400px 0 0;
}
.content {
  display: inline-block;
  width: 300px;
}
.username {
  font-size: 12px;
  background: #c078ff;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}
.empty {
  height: 50px;
  text-align: center;
  color: #adadad;
  line-height: 50px;
}
